<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <title>Assignment 1 - Lunch Checker</title>
  </head>
<body ng-app='LunchApp'>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group">
              <h2>List comma separated dishes you usually have for lunch</h2>
             <textarea rows="4" cols="50" id="lunch-menu" type="text"
             ng-model="list"
             class="form-control"
             style="border:solid 1px {{borderColor}};"></textarea>
             <!-- I do NOT consider an empty item, i.e., , , as an item towards to the count -->
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="check();">Check If Too Much</button>
             <br>
         </div>
         <div class="form-group message">
           <p style="color:{{correctColor}};">{{message}}</p>
         </div>
   </div>

</body>
</html>
